{% load static %}
<div class="col-lg-4 col-md-6 col-12 curso-item">
    <div class="rbt-card variation-04 rbt-hover">
        <div class="rbt-card-img">
            <a href="course-details.html">
                <img src="{% static 'assets/images/course/university-01.jpg' %}" alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <ul class="rbt-meta">
                <li><i class="feather-book"></i>07 Lessons</li>
                <li><i class="feather-users"></i>01 Students</li>
            </ul>
            <h4 class="rbt-card-title"><a href="course-details.html">Data
                    Science & ML</a>
            </h4>
            <p class="rbt-card-text">Orem Ipsum is that it has a
                more-or-less normal
                distribution of letters.</p>
            <div class="rbt-review">
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <span class="rating-count"> (1 Reviews)</span>
            </div>
            <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="course-details.html#"><i
                    class="feather-bookmark"></i></a>
                    </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">
                    <h6 class="current-price mb-0">$199</h6>
                    <span class="off-price version-02">$590</span>
                </div>
                <a class="rbt-btn-link color-primary" href="course-details.html">Enroll
                    Course<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>


