{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Educangola | home cursos</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    {% include 'include/css.html' %}
</head>

<body class="rbt-header-sticky">

    <div id="my_switcher" class="my_switcher">
        <ul>
            <li>
                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                    <img src="{% static 'assets/images/about/sun-01.svg' %}" alt="Sun images"><span title="Light Mode">
                        Light</span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                    <img src="{% static 'assets/images/about/vector.svg' %}" alt="Vector Images"><span
                        title="Dark Mode"> Dark</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Start Header Area -->
    {% include 'include/header.html' %}

    <main>
        <div class="rbt-banner-area rbt-banner-18">
            <div class="wrapper">
                <div class="shape-wrap">
                    <div class="shadow-1">
                    </div>
                    <div class="shadow-2">
                    </div>
                    <div class="shadow-3">
                    </div>
                    <div class="shadow-4">
                    </div>
                    <div class="glass">
                        <img src="{% static 'assets/images/shape/i-glass.png' %}" alt="Banner Shape">
                    </div>
                    <div class="union">
                        <img src="{% static 'assets/images/shape/o-union.png' %}" alt="Banner Shape">
                    </div>
                    <div class="dot-shape-1 scene">
                        <span data-depth="1">
                            <img src="{% static 'assets/images/shape/ic-dots.png' %}" alt="Banner Shape">
                        </span>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="inner position-relative">
                                <h6 class="subtitle">
                                    <span class="theme-gradient">Aprendizagem Profissional e Contínua</span>
                                </h6>

                                <h1 class="sec-title">
                                    Cursos de centros Agora na Palma dos Seus
                                    <span class="theme-gradient">Dedos</span>
                                </h1>

                                <p class="description">
                                    Aprenda novas competências com cursos práticos e atualizados,
                                    desenvolvidos para impulsionar a sua carreira e crescimento profissional.
                                    <span class="w-500"> Estude no seu ritmo, onde e quando quiser.</span>
                                </p>

                                <div class="button-group">
                                    <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">Começar Agora</span>
                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>

                                <div class="line-arrow scene">
                                    <span data-depth="1">
                                        <img src="{% static 'assets/images/shape/i-line-arrow.png' %}"
                                            alt="Forma do Banner">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="content">
                                <div class="banner-card pb--60 swiper rbt-dot-bottom-center banner-swiper-active">
                                    <div class="swiper-wrapper">
                                        {% for curso in cursos_destaque %}
                                        {% include 'cursos/card_home_cursos.html' %}
                                        {% endfor %}
                                    </div>
                                    <div class="rbt-swiper-pagination"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-5">
                            <div class="banner-wrap">
                                <div class="banner" data-parallax='{"x": 0, "y": 60}'>
                                    <img src="{% static 'assets/images/banner/i-banner.pn' %}" alt="Banner">
                                </div>

                                <div class="enrolled">
                                    <div class="enrolled-cont">
                                        <span>
                                            <img src="{% static 'assets/images/shape/o-icon-2.png' %}" alt="">
                                        </span>
                                        <div>
                                            <h6 class="feature-title">36k+</h6>
                                            <p class="feature-description">Estudantes satisfeito</p>
                                        </div>
                                    </div>
                                    <div class="profile-share">
                                        <a href="18-instructors-coaches.html#" class="avatar" data-tooltip="Ava Miller"
                                            tabindex="0">
                                            <img src="{% static 'assets/images/shape/art-stu-2.png' %}" alt="education">
                                        </a>
                                        <a href="18-instructors-coaches.html#" class="avatar" data-tooltip="Mark Jordan"
                                            tabindex="0">
                                            <img src="{% static 'assets/images/shape/art-stu-1.png' %}" alt="education">
                                        </a>
                                        <a href="18-instructors-coaches.html#" class="avatar" data-tooltip="Jordan"
                                            tabindex="0">
                                            <img src="{% static 'assets/images/shape/art-stu-3.png' %}" alt="education">
                                        </a>
                                        <a href="18-instructors-coaches.html#" class="avatar" data-tooltip="Ava Miller"
                                            tabindex="0">
                                            <img src="{% static 'assets/images/shape/i-team.png' %}" alt="education">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Start Brand -->
                    <div class="brand-box-wrap">
                        <div class="uion">
                            <img src="{% static 'assets/images/shape/i-uion-big.png' %}" alt="Forma do Banner">
                        </div>

                        <div class="leaf" data-parallax='{"x": 0, "y": -30}'>
                            <img src="{% static 'assets/images/shape/i-leaf.png' %}" alt="Forma Decorativa">
                        </div>

                        <div class="brand-box text-center bg-white">
                            <span class="b1 w-600 mb-0">
                                Centros de Formação Parceiros que Confiam na Nossa Plataforma
                            </span>

                            <ul
                                class="brand-list brand-style-3 justify-content-start justify-content-lg-between mt--30">
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/brand/partner-sm-1.png' %}"
                                            alt="Centro Parceiro">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/brand/partner-sm-2.png' %}"
                                            alt="Centro Parceiro">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/brand/partner-sm-3.png' %}"
                                            alt="Centro Parceiro">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/brand/partner-sm-4.png' %}"
                                            alt="Centro Parceiro">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/brand/partner-sm-1.png' %}"
                                            alt="Centro Parceiro">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/brand/partner-sm-2.png' %}"
                                            alt="Centro Parceiro">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'assets/images/brand/partner-sm-3.png' %}"
                                            alt="Centro Parceiro">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Brand -->
                </div>
            </div>
        </div>

    </main>


    <div class="rbt-category-area rbt-section-gapBottom">
        <div class="container">
            <div class="section-title text-center mb--55">
                <h6 class="b2 mb--15">
                    <span class="theme-gradient">Categorias Populares</span>
                </h6>

                <h2 class="title w-600">
                    Explore as Principais Categorias de Cursos <br>
                    Que <span class="theme-gradient">Transformam o Seu Futuro</span>
                </h2>
            </div>

            <div
                class="swiper category-activation-one rbt-arrow-between icon-bg-gray rbt-dot-bottom-center gutter-swiper-30 pb--50">
                <div class="swiper-wrapper">
                    {% for categoria in categorias %}
                    <div class="swiper-slide">
                        <div class="single-slide">
                            <a class="rbt-cat-box rbt-cat-box-1 text-center"
                                href="{% url 'cursos_por_categoria' categoria.slug %}">
                                <div class="inner">
                                    <div class="icons">
                                        {% if categoria.imagem %}
                                        <img src="{{categoria.imagem.url}}" alt="Icons Images">
                                        {% else %}
                                        <img src="{% static 'assets/images/category/default.jpg' %}"
                                            alt="Ícone de {{ categoria.nome }}">
                                        {% endif %}
                                    </div>
                                    <div class="content">
                                        <h5 class="title">{{categoria.nome}}</h5>
                                        <div class="read-more-btn">
                                            <span class="rbt-btn-link">{{categoria.num_cursos}} Cursos<i
                                                    class="feather-arrow-right"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>


                <div class="rbt-swiper-arrow rbt-arrow-left">
                    <div class="custom-overfolow">
                        <i class="rbt-icon feather-arrow-left"></i>
                        <i class="rbt-icon-top feather-arrow-left"></i>
                    </div>
                </div>

                <div class="rbt-swiper-arrow rbt-arrow-right">
                    <div class="custom-overfolow">
                        <i class="rbt-icon feather-arrow-right"></i>
                        <i class="rbt-icon-top feather-arrow-right"></i>
                    </div>
                </div>

                <div class="rbt-swiper-pagination"></div>
            </div>
        </div>
    </div>


    {% load static %}

    <div class="rbt-course-area rbt-sec-cir-shadow-1 bg-color-extra2 rbt-section-gap rbt-section-box">
        <div class="gradient-shape-top"></div>
        <div class="gradient-shape-bottom"></div>

        <div class="container">

            <!-- TÍTULO -->
            <div class="row mb--30">
                <div class="col-lg-12">
                    <div class="section-title text-start">
                        <h6 class="b2 mb--15">
                            <span class="theme-gradient">Centros de formacao</span>
                        </h6>
                        <h2 class="title w-600">
                            Explore os
                            <span class="theme-gradient">cursos em Destaque.</span>
                        </h2>
                    </div>
                </div>
            </div>

            <!-- CARDS -->
            <div class="row g-5">
                {% for curso in cursos_destaque|slice:":8" %}
                {% include "cursos/card_geral.html" with curso=curso %}
                {% empty %}
                <p class="text-center">Nenhum curso disponível.</p>
                {% endfor %}
            </div>

            <!-- BOTÃO MOSTRAR MAIS -->
            <div class="row mt--40">
                <div class="col-lg-12 text-center">
                    <button id="loadMore" class="rbt-btn btn-gradient hover-icon-reverse btn-load-more">
                        <span class="icon-reverse-wrapper">
                            <span class="btn-text">Mostrar +3</span>
                            <span class="btn-icon"><i class="feather-arrow-down"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-down"></i></span>
                        </span>
                    </button>
                </div>
            </div>



        </div>
    </div>


    <div class="rbt-video-area video-section-03 bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row g-5 align-items-center position-relative">
            <div class="union-shape">
                <img src="{% static 'assets/images/shape/v-union.png' %}" alt="Forma Decorativa">
            </div>
            <div class="star-shape">
                <img src="{% static 'assets/images/shape/v-star.png' %}" alt="Forma Decorativa">
            </div>

            <div class="col-lg-6">
                <div class="video-popup-wrapper">
                    <img class="w-100 rbt-radius"
                         src="{% static 'img/banners/training_center_lab_1_1769959754699.png' %}"
                         alt="Vídeo da Plataforma">
                    <a class="rbt-btn rounded-player popup-video position-to-top rbtplayer border-rounded"
                       href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                        <span><i class="feather-play"></i></span>
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="inner pl--50 pl_lg--0 pl_md--0 pl_sm--0">
                    <div class="section-title text-start">
                        <h6 class="b2 mb--15">
                            <span class="theme-gradient">Como funciona?</span>
                        </h6>

                        <h2 class="title w-600">
                            Cursos Focados na Construção de <br>
                            Bases Sólidas para o
                            <span class="theme-gradient">Crescimento Profissional</span>
                        </h2>

                        <div class="rbt-feature-wrapper mt--40">
                            <div class="rbt-feature feature-style-1 align-items-center">
                                <div class="icon bg-pink-opacity">
                                    <i class="feather-heart"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Aulas Flexíveis</h6>
                                </div>
                            </div>

                            <div class="rbt-feature feature-style-1 align-items-center">
                                <div class="icon bg-primary-opacity">
                                    <i class="feather-book"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Aprenda de Qualquer Lugar</h6>
                                </div>
                            </div>

                            <div class="rbt-feature feature-style-1 align-items-center">
                                <div class="icon bg-coral-opacity">
                                    <i class="feather-monitor"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Aprendizagem Baseada em Competências</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


    <div style="margin-top: 20px; margin-bottom: 10px;" class="banner-overlay-section">
        <div class="container">
            <div class="row mb--30">
                <div class="col-lg-12">
                    <div class="section-title text-start">
                        <h6 class="b2 mb--15">
                            <span class="theme-gradient">Centros de formacao</span>
                        </h6>
                        <h2 class="title w-600">
                            Habilidades em
                            <span class="theme-gradient">IA sobe demanda.</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row row--15">
                <div class="col-lg-12">
                    <div class="swiper team-slide-activation-4 rbt-arrow-between rbt-dot-bottom-center">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-04.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Aaron Griffe</a></h4>
                                            <p class="designation">Depertment Head</p>
                                        </div>
                                        <div class="rbt-bookmark-btn">
                                            <a class="rbt-round-btn" title="Bookmark" href="course-details.html#"><i
                                                    class="feather-bookmark"></i></a>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-05.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>

                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Aaron Griffe</a></h4>
                                            <p class="designation">Teacher</p>
                                        </div>
                                        <div class="rbt-bookmark-btn">
                                            <a class="rbt-round-btn" title="Bookmark" href="course-details.html#"><i
                                                    class="feather-bookmark"></i></a>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-06.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Joe Bidden</a></h4>
                                            <p class="designation">Depertment Head</p>
                                        </div>
                                        <div class="rbt-bookmark-btn">
                                            <a class="rbt-round-btn" title="Bookmark" href="course-details.html#"><i
                                                    class="feather-bookmark"></i></a>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-03.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">John Due</a></h4>
                                            <p class="designation">Marketing SR</p>
                                        </div>
                                        <div class="rbt-bookmark-btn">
                                            <a class="rbt-round-btn" title="Bookmark" href="course-details.html#"><i
                                                    class="feather-bookmark"></i></a>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-02.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Joe Bidden</a></h4>
                                            <p class="designation">Depertment Head</p>
                                        </div>
                                        <div class="rbt-bookmark-btn">
                                            <a class="rbt-round-btn" title="Bookmark" href="course-details.html#"><i
                                                    class="feather-bookmark"></i></a>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-01.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Jannen</a></h4>
                                            <p class="designation">App Developer</p>
                                        </div>
                                        <div class="rbt-bookmark-btn">
                                            <a class="rbt-round-btn" title="Bookmark" href="course-details.html#"><i
                                                    class="feather-bookmark"></i></a>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rbt-swiper-arrow rbt-arrow-left">
                            <div class="custom-overfolow">
                                <i class="rbt-icon feather-arrow-left"></i>
                                <i class="rbt-icon-top feather-arrow-left"></i>
                            </div>
                        </div>

                        <div class="rbt-swiper-arrow rbt-arrow-right">
                            <div class="custom-overfolow">
                                <i class="rbt-icon feather-arrow-right"></i>
                                <i class="rbt-icon-top feather-arrow-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>




    <div class="rbt-course-area rbt-sec-cir-shadow-1 bg-color-extra2 rbt-section-gap rbt-section-box">
        <div class="gradient-shape-top"></div>
        <div class="gradient-shape-bottom"></div>

        <div class="container">

            <!-- TÍTULO -->
            <div class="row mb--30">
                <div class="col-lg-12">
                    <div class="section-title text-start">
                        <h6 class="b2 mb--15">
                            <span class="theme-gradient">Centros de formacao</span>
                        </h6>
                        <h2 class="title w-600">
                            Descubra os
                            <span class="theme-gradient">cursos mais inscritos.</span>
                        </h2>
                    </div>
                </div>
            </div>

            <!-- CARDS -->
            <div class="row g-5">
                {% for curso in cursos_proximos|slice:":8" %}
                {% include "cursos/card_geral.html" with curso=curso %}
                {% empty %}
                <p class="text-center">Nenhum curso disponível.</p>
                {% endfor %}
            </div>

            <!-- BOTÃO MOSTRAR MAIS -->
            <div class="row mt--40">
                <div class="col-lg-12 text-center">
                    <button id="loadMore" class="rbt-btn btn-gradient hover-icon-reverse btn-load-more">
                        <span class="icon-reverse-wrapper">
                            <span class="btn-text">Mostrar +3</span>
                            <span class="btn-icon"><i class="feather-arrow-down"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-down"></i></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div style="margin-top: 20px;" class="banner-overlay-section">
        <div class="container">
            <div class="row mb--30">
                <div class="col-lg-12">
                    <div class="section-title text-start">
                        <h6 class="b2 mb--15">
                            <span class="theme-gradient">Centros de formacao</span>
                        </h6>
                        <h2 class="title w-600">
                            Mais populares
                            <span class="theme-gradient">por categoria.</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row row--15">
                <div class="col-lg-12">
                    <div class="swiper team-slide-activation-4 rbt-arrow-between rbt-dot-bottom-center">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-04.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Aaron Griffe</a></h4>
                                            <p class="designation">Depertment Head</p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-05.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Aaron Griffe</a></h4>
                                            <p class="designation">Teacher</p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-06.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Joe Bidden</a></h4>
                                            <p class="designation">Depertment Head</p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-03.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">John Due</a></h4>
                                            <p class="designation">Marketing SR</p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-02.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Joe Bidden</a></h4>
                                            <p class="designation">Depertment Head</p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-01.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Jannen</a></h4>
                                            <p class="designation">App Developer</p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rbt-swiper-arrow rbt-arrow-left">
                            <div class="custom-overfolow">
                                <i class="rbt-icon feather-arrow-left"></i>
                                <i class="rbt-icon-top feather-arrow-left"></i>
                            </div>
                        </div>

                        <div class="rbt-swiper-arrow rbt-arrow-right">
                            <div class="custom-overfolow">
                                <i class="rbt-icon feather-arrow-right"></i>
                                <i class="rbt-icon-top feather-arrow-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="rbt-course-area rbt-sec-cir-shadow-1 bg-color-extra2 rbt-section-gap rbt-section-box">
        <div class="gradient-shape-top"></div>
        <div class="gradient-shape-bottom"></div>

        <div class="container">

            <!-- TÍTULO -->
            <div class="row mb--30">
                <div class="col-lg-12">
                    <div class="section-title text-start">
                        <h6 class="b2 mb--15">
                            <span class="theme-gradient">Centros de formacao</span>
                        </h6>
                        <h2 class="title w-600">
                            Novos
                            <span class="theme-gradient">lançamentos</span>
                        </h2>
                    </div>
                </div>
            </div>

            <!-- CARDS -->
            <div class="row g-5">
                {% for curso in cursos_destaque|slice:":8" %}
                {% include "cursos/card_geral.html" with curso=curso %}
                {% empty %}
                <p class="text-center">Nenhum curso disponível.</p>
                {% endfor %}
            </div>

            <!-- BOTÃO MOSTRAR MAIS -->
            <div class="row mt--40">
                <div class="col-lg-12 text-center">
                    <button id="loadMore" class="rbt-btn btn-gradient hover-icon-reverse btn-load-more">
                        <span class="icon-reverse-wrapper">
                            <span class="btn-text">Mostrar +3</span>
                            <span class="btn-icon"><i class="feather-arrow-down"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-down"></i></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div style="margin-top: 20px;" class="banner-overlay-section">
        <div class="container">
            <div class="row mb--30">
                <div class="col-lg-12">
                    <div class="section-title text-start">
                        <h6 class="b2 mb--15">
                            <span class="theme-gradient">Centros de formacao</span>
                        </h6>
                        <h2 class="title w-600">
                            Tendências atuais
                            <span class="theme-gradient">atuais.</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row row--15">
                <div class="col-lg-12">
                    <div class="swiper team-slide-activation-4 rbt-arrow-between rbt-dot-bottom-center">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-04.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Aaron Griffe</a></h4>
                                            <p class="designation">Depertment Head</p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-05.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Aaron Griffe</a></h4>
                                            <p class="designation">Teacher</p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-06.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Joe Bidden</a></h4>
                                            <p class="designation">Depertment Head</p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-03.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">John Due</a></h4>
                                            <p class="designation">Marketing SR</p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-02.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Joe Bidden</a></h4>
                                            <p class="designation">Depertment Head</p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="15-home-technology.html#"><img
                                                src="{% static 'assets/images/team/team-01.jpg' %}"
                                                alt="Blog Images"></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="15-home-technology.html#">Jannen</a></h4>
                                            <p class="designation">App Developer</p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="15-home-technology.html#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rbt-swiper-arrow rbt-arrow-left">
                            <div class="custom-overfolow">
                                <i class="rbt-icon feather-arrow-left"></i>
                                <i class="rbt-icon-top feather-arrow-left"></i>
                            </div>
                        </div>

                        <div class="rbt-swiper-arrow rbt-arrow-right">
                            <div class="custom-overfolow">
                                <i class="rbt-icon feather-arrow-right"></i>
                                <i class="rbt-icon-top feather-arrow-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    <div class="rbt-instagram-area bg-color-white rbt-section-gapTop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb--60">
                    <div class="section-title text-center">
                        <span class="subtitle bg-secondary-opacity">Instagram</span>
                        <h2 class="title">Siga o Educangola no <span class="color-primary">Instagram</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row g-3">
                <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                    <div class="instagram-grid">
                        <a href="05-classic-lms.html#">
                            <img src="{% static 'assets/images/instagram/instagram-01.jpg' %}" alt="Instagram Histudy">
                            <span class="user-info">
                                <span class="icon"><i class="icon-instagram"></i></span>
                                <span class="user-name">@Histudy</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                    <div class="instagram-grid">
                        <a href="05-classic-lms.html#">
                            <img src="{% static 'assets/images/instagram/instagram-02.jpg' %}" alt="Instagram Histudy">
                            <span class="user-info">
                                <span class="icon"><i class="icon-instagram"></i></span>
                                <span class="user-name">@Histudy</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                    <div class="instagram-grid">
                        <a href="05-classic-lms.html#">
                            <img src="{% static 'assets/images/instagram/instagram-03.jpg' %}" alt="Instagram Histudy">
                            <span class="user-info">
                                <span class="icon"><i class="icon-instagram"></i></span>
                                <span class="user-name">@Histudy</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                    <div class="instagram-grid">
                        <a href="05-classic-lms.html#">
                            <img src="{% static 'assets/images/instagram/instagram-04.jpg' %}" alt="Instagram Histudy">
                            <span class="user-info">
                                <span class="icon"><i class="icon-instagram"></i></span>
                                <span class="user-name">@Histudy</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                    <div class="instagram-grid">
                        <a href="05-classic-lms.html#">
                            <img src="{% static 'assets/images/instagram/instagram-05.jpg' %}" alt="Instagram Histudy">
                            <span class="user-info">
                                <span class="icon"><i class="icon-instagram"></i></span>
                                <span class="user-name">@Histudy</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                    <div class="instagram-grid">
                        <a href="05-classic-lms.html#">
                            <img src="{% static 'assets/images/instagram/instagram-06.jpg' %}" alt="Instagram Histudy">
                            <span class="user-info">
                                <span class="icon"><i class="icon-instagram"></i></span>
                                <span class="user-name">@Histudy</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rbt-newsletter-area bg-gradient-6 ptb--50">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="inner">
                        <div class="section-title text-center text-lg-start">
                            <h4 class="title"><strong>Assine</strong> <br /> <span class="w-400">Nossa Newsletter</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-12 text-start text-sm-end">
                    <form action="05-classic-lms.html#" class="newsletter-form-1 me-0">
                        <input type="email" placeholder="Digite seu e-mail">
                        <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse">
                            <span class="icon-reverse-wrapper">
                                <span class="btn-text">Assinar</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const sections = document.querySelectorAll(".rbt-course-area");

            sections.forEach(section => {
                const cursos = section.querySelectorAll(".curso-item");
                const btn = section.querySelector(".btn-load-more");
                const texto = btn.querySelector(".btn-text");

                const inicial = 3;
                const incremento = 3;
                let visiveis = inicial;
                let expandido = false;

                function atualizar() {
                    cursos.forEach((curso, index) => {
                        curso.style.display = index < visiveis ? "block" : "none";
                    });

                    if (visiveis >= cursos.length) {
                        texto.textContent = "Mostrar menos";
                        expandido = true;
                    } else {
                        texto.textContent = "Mostrar +3";
                        expandido = false;
                    }

                    if (cursos.length <= inicial) btn.style.display = "none";
                }

                btn.addEventListener("click", () => {
                    visiveis = expandido ? inicial : visiveis + incremento;
                    atualizar();
                });

                atualizar();
            });
        });
    </script>


    <!-- Start Footer aera -->
    {% include 'include/footer.html' %}
    <!-- JS
============================================ -->
    {% include 'include/java.html' %}
</body>

</html>