{% load static %}
{% load i18n %}
<style>
.rbt-footer ul,
.rbt-footer li,
.ft-link,
.ft-link li,
.social-icon,
.social-icon li {
  list-style: none !important;
  padding: 0 !important;
}
.ft-link li {
  margin-bottom: 8px !important;
}
</style>
<footer class="rbt-footer footer-style-1">
    <div class="footer-top">
        <div class="container">
            <div class="row row--15 mt_dec--30">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="footer-widget">
                        <div style="width: 150px; height: auto;" class="logo logo-dark">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'assets/images/logo/logo1.png' %}?v=2" alt="EdukaAngola">
                            </a>
                        </div>
                        <div style="width: 150px; height: auto;" class="logo d-none logo-light">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'assets/images/logo/logo1.png' %}?v=2" alt="EdukaAngola">
                            </a>
                        </div>

                        <p class="description mt--20">{% trans 'Elevando o padrão da formação profissional em Angola. Conectamos talentos às melhores instituições do país.' %}
                        </p>

                        <div class="contact-btn mt--30">
                            <a class="rbt-btn hover-icon-reverse btn-border-gradient radius-round" href="{% url 'sobre' %}">
                                <div class="icon-reverse-wrapper">
                                    <span class="btn-text">{% trans 'Saiba Mais Sobre Nós' %}</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="footer-widget">
                        <h5 class="ft-title">{% trans 'Links Úteis' %}</h5>
                        <ul class="ft-link">
                            <li>
                                <a href="{% url 'catalogo_cursos' %}">{% trans 'Catálogo de Cursos' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'lista_centros' %}">{% trans 'Instituições Parceiras' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'blog:lista_posts' %}">{% trans 'Blog e Notícias' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'sobre' %}">{% trans 'Nosso Ecossistema' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'Perguntas Frequentes' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="footer-widget">
                        <h5 class="ft-title">{% trans 'Para Você' %}</h5>
                        <ul class="ft-link">
                            <li>
                                <a href="{% url 'login_aluno' %}">{% trans 'Área do Aluno' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'registro_instrutor' %}">{% trans 'Seja um Instrutor' %}</a>
                            </li>

                            <li>
                                <a href="{% url 'registro_aluno' %}">{% trans 'Criar Conta Gratuita' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'blog:privacidade' %}">{% trans 'Privacidade & Dados' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="footer-widget">
                        <h5 class="ft-title">{% trans 'Contacto' %}</h5>
                        <ul class="ft-link">
                            <li><span>{% trans 'Telefone:' %}</span> <a href="tel:+244923456789">+244 923 456 789</a></li>
                            <li><span>{% trans 'E-mail:' %}</span> <a
                                    href="mailto:contacto@edukaangola.com">contacto@edukaangola.com</a></li>
                            <li><span>{% trans 'Localização:' %}</span> {% trans 'Luanda, Angola' %}</li>
                        </ul>
                        <ul class="social-icon social-default icon-naked justify-content-start mt--20">
                            <li><a href="https://www.facebook.com/edukaangola">
                                    <i class="feather-facebook"></i>
                                </a>
                            </li>
                            <li><a href="https://www.instagram.com/edukaangola">
                                    <i class="feather-instagram"></i>
                                </a>
                            </li>
                            <li><a href="https://www.linkedin.com/company/edukaangola">
                                    <i class="feather-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer aera -->
<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<!-- Start Copyright Area  -->
<div class="copyright-area copyright-style-1 ptb--20">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                <p class="rbt-link-hover text-center text-lg-start">{% trans 'Copyright © 2025' %} <a
                        href="{% url 'index' %}">Edukangola</a>. {% trans 'Todos os Direitos Reservados' %}</p>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                <ul
                    class="copyright-link rbt-link-hover justify-content-center justify-content-lg-end mt_sm--10 mt_md--10">
                    <li><a href="#">{% trans 'Termos de Serviço' %}</a></li>
                    <li><a href="{% url 'blog:privacidade' %}">{% trans 'Política de Privacidade' %}</a></li>

                    <li><a href="{% url 'login_aluno' %}">{% trans 'Aceder / Registar' %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright Area  -->
<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>

<script>
    navigator.geolocation.getCurrentPosition(function (position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        fetch("{% url 'atualizar_localizacao' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({ lat: latitude, lng: longitude })
        });
    });
</script>
