{% load static %}
<header class="rbt-header rbt-header-8 rbt-transparent-header">
        <div class="rbt-sticky-placeholder"></div>
        <!-- Start Header Top  -->
        <div class="rbt-header-top rbt-header-top-1 variation-height-60 header-space-betwween bg-color-transparent top-expended-activation">
            <div class="container">
                <div class="top-expended-wrapper">
                    <div class="top-expended-inner rbt-header-sec align-items-center ">
                        <div class="rbt-header-sec-col rbt-header-left">
                            <div class="rbt-header-content">
                                <div class="header-info d-none d-lg-block">
                                    <ul class="rbt-information-list">
                                        <li>
                                            <a href="#"><i class="feather-help-circle"></i>Tem alguma pergunta?</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="feather-mail"></i>geraleducangola@gmail.com</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="feather-phone"></i>+244 923 908 353</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="rbt-header-sec-col rbt-header-right mt_md--10 mt_sm--10">
                            <div class="rbt-header-content justify-content-start justify-content-lg-end">
                                <div class="header-info">
                                    <ul class="rbt-dropdown-menu switcher-language">
                                        <li class="has-child-menu">
                                            <a href="#">
                                                <img class="left-image" src="{% static 'assets/images/icons/en-us.png' %}" alt="Language Images">
                                                <span class="menu-item">English</span>
                                                <i class="right-icon feather-chevron-down"></i>
                                            </a>
                                            
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="08-language-academy.html#">
                                                        <img class="left-image" src="{% static 'assets/images/icons/fr.png' %}" alt="Language Images">
                                                        <span class="menu-item">Français</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="08-language-academy.html#">
                                                        <img class="left-image" src="{% static 'assets/images/icons/de.png' %}" alt="Language Images">
                                                        <span class="menu-item">Umbundo</span>
                                                    </a>

                                                </li>

                                                <li>
                                                    <a href="08-language-academy.html#">
                                                        <img class="left-image" src="{% static 'assets/images/icons/de.png' %}" alt="Language Images">
                                                        <span class="menu-item">Kikongo</span>
                                                    </a>
                                                    
                                                </li>
                                                <li>
                                                    <a href="08-language-academy.html#">
                                                        <img class="left-image" src="{% static 'assets/images/icons/de.png' %}" alt="Language Images">
                                                        <span class="menu-item">Nganguela</span>
                                                    </a>
                                                    
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-info">
                        <div class="top-bar-expended d-block d-lg-none">
                            <button class="topbar-expend-button rbt-round-btn"><i class="color-body feather-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top  -->


        <div class="rbt-header-wrapper  header-sticky">
            <div class="container">
                <div class="mainbar-row rbt-navigation-end align-items-center">
                    <div class="header-left">
                        <div class="logo logo-dark">
                            <a href="{% url 'index' %}">
                                <img src ="{% static 'assets/images/Logo1.png' %}" alt="Education Logo Images">
                            </a> 
                        </div>

                        <div class="logo d-none logo-light">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'assets/images/Logo1.png' %}" alt="Education Logo Images">
                            </a>
                        </div>
                    </div>
                    <div class="rbt-main-navigation d-none d-xl-block">
                        <nav class="mainmenu-nav">
                            <ul class="mainmenu">
                                <li class="with-megamenu has-menu-child-item position-static">
                                    <a href="08-language-academy.html#">Home</a>
                                    <!-- Start Mega Menu  -->
                                    
                                </li>

                                <li class="with-megamenu has-menu-child-item">
                                    <a href="08-language-academy.html#">Courses <i class="feather-chevron-down"></i></a>
                                    <!-- Start Mega Menu  -->
                                    <div class="rbt-megamenu grid-item-2">
                                        <div class="wrapper">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="mega-top-banner">
                                                        <div class="content">
                                                            <h4 class="title">Developer hub</h4>
                                                            <p class="description">Start building fast, with code samples, key resources and more.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row row--15">
                                                <div class="col-lg-12 col-xl-6 col-xxl-6 single-mega-item">
                                                    <h3 class="rbt-short-title">Course Layout</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="course-filter-one-toggle.html">Filter One Toggle</a></li>
                                                        <li><a href="course-filter-one-open.html">Filter One Open</a></li>
                                                        <li><a href="course-filter-two-toggle.html">Filter Two Toggle</a></li>
                                                        <li><a href="course-filter-two-open.html">Filter Two Open</a></li>
                                                        <li><a href="course-with-tab.html">Course With Tab</a></li>
                                                        <li><a href="course-with-tab-two.html">Course With Tab Two</a></li>
                                                        <li><a href="course-card-2.html">Course Card Two</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-12 col-xl-6 col-xxl-6 single-mega-item">
                                                    <h3 class="rbt-short-title">Course Layout</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="course-card-3.html">Course Card Three</a></li>
                                                        <li><a href="course-masonry.html">Course Masonry</a></li>
                                                        <li><a href="course-with-sidebar.html">Course With Sidebar</a></li>
                                                        <li><a href="course-details.html">Course Details</a></li>
                                                        <li><a href="course-details-2.html">Course Details Two</a></li>
                                                        <li><a href="lesson.html">Course Lesson <span class="rbt-badge-card">New</span></a></li>
                                                        <li><a href="create-course.html">Create Course <span class="rbt-badge-card">New</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <ul class="nav-quick-access">
                                                        <li><a href="08-language-academy.html#"><i class="feather-folder-minus"></i> Quick Start Guide</a></li>
                                                        <li><a href="08-language-academy.html#"><i class="feather-folder-minus"></i> For Open Source</a></li>
                                                        <li><a href="08-language-academy.html#"><i class="feather-folder-minus"></i> API Status</a></li>
                                                        <li><a href="08-language-academy.html#"><i class="feather-folder-minus"></i> Support</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu  -->
                                </li>

                                <li class="has-dropdown has-menu-child-item">
                                    <a href="08-language-academy.html#">Dashboard
                                        <i class="feather-chevron-down"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li class="has-dropdown"><a href="08-language-academy.html#">Instructor Dashboard</a>
                                            <ul class="submenu">
                                                <li><a href="instructor-dashboard.html">Dashboard</a></li>
                                                <li><a href="instructor-profile.html">Profile</a></li>
                                                <li><a href="instructor-enrolled-courses.html">Enrolled Courses</a></li>
                                                <li><a href="instructor-wishlist.html">Wishlist</a></li>
                                                <li><a href="instructor-reviews.html">Reviews</a></li>
                                                <li><a href="instructor-my-quiz-attempts.html">My Quiz Attempts</a></li>
                                                <li><a href="instructor-order-history.html">Order History</a></li>
                                                <li><a href="instructor-course.html">My Course</a></li>
                                                <li><a href="instructor-announcements.html">Announcements</a></li>
                                                <li><a href="instructor-quiz-attempts.html">Quiz Attempts</a></li>
                                                <li><a href="instructor-assignments.html">Assignments</a></li>
                                                <li><a href="instructor-settings.html">Settings</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown"><a href="08-language-academy.html#">Student Dashboard</a>
                                            <ul class="submenu">
                                                <li><a href="student-dashboard.html">Dashboard</a></li>
                                                <li><a href="student-profile.html">Profile</a></li>
                                                <li><a href="student-enrolled-courses.html">Enrolled Courses</a></li>
                                                <li><a href="student-wishlist.html">Wishlist</a></li>
                                                <li><a href="student-reviews.html">Reviews</a></li>
                                                <li><a href="student-my-quiz-attempts.html">My Quiz Attempts</a></li>
                                                <li><a href="student-order-history.html">Order History</a></li>
                                                <li><a href="student-settings.html">Settings</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="with-megamenu has-menu-child-item position-static">
                                    <a href="08-language-academy.html#">Pages <i class="feather-chevron-down"></i></a>
                                    <!-- Start Mega Menu  -->
                                    <div class="rbt-megamenu grid-item-4">
                                        <div class="wrapper">
                                            <div class="row row--15">
                                                <div class="col-lg-12 col-xl-3 col-xxl-3 single-mega-item">
                                                    <h3 class="rbt-short-title">Get Started</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="about-us-01.html">About Us</a></li>
                                                        <li><a href="about-us-02.html">About Us 02</a></li>
                                                        <li><a href="event-grid.html">Event Grid</a></li>
                                                        <li><a href="event-list.html">Event List</a></li>
                                                        <li><a href="event-sidebar.html">Event Sidebar</a></li>
                                                        <li><a href="event-details.html">Event Details</a></li>
                                                        <li><a href="academy-gallery.html">Academy Gallery</a></li>
                                                        <li><a href="admission-guide.html">Admission Guide</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-12 col-xl-3 col-xxl-3 single-mega-item">
                                                    <h3 class="rbt-short-title">Get Started</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="profile.html">Profile</a></li>
                                                        <li><a href="contact.html">Contact Us</a></li>
                                                        <li><a href="become-a-teacher.html">Become a Teacher</a></li>
                                                        <li><a href="instructor.html">Instructor</a></li>
                                                        <li><a href="faqs.html">FAQS</a></li>
                                                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                                        <li><a href="404.html">404 Page</a></li>
                                                        <li><a href="maintenance.html">Maintenance</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-12 col-xl-3 col-xxl-3 single-mega-item">
                                                    <h3 class="rbt-short-title">Shop Pages</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="shop.html">Shop <span class="rbt-badge-card">Sale Anything</span></a></li>
                                                        <li><a href="single-product.html">Single Product</a></li>
                                                        <li><a href="cart.html">Cart Page</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                        <li><a href="wishlist.html">Wishlist Page</a></li>
                                                        <li><a href="my-account.html">My Acount</a></li>
                                                        <li><a href="login.html">Login & Register</a></li>
                                                        <li><a href="subscription.html">Subscription</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-12 col-xl-3 col-xxl-3 single-mega-item">
                                                    <div class="mega-category-item">
                                                        <!-- Start Single Category  -->
                                                        <div class="nav-category-item">
                                                            <div class="thumbnail">
                                                                <div class="image"><img src="{% static 'assets/images/course/category-2.png' %}" alt="Course images"></div>
                                                                <a href="course-filter-one-toggle.html">
                                                                    <span>Online Education</span>
                                                                    <i class="feather-chevron-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- End Single Category  -->

                                                        <!-- Start Single Category  -->
                                                        <div class="nav-category-item">
                                                            <div class="thumbnail">
                                                                <div class="image"><img src="{% static 'assets/images/course/category-1.png' %}" alt="Course images"></div>
                                                                <a href="course-filter-one-toggle.html">
                                                                    <span>Language Club</span>
                                                                    <i class="feather-chevron-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- End Single Category  -->

                                                        <!-- Start Single Category  -->
                                                        <div class="nav-category-item">
                                                            <div class="thumbnail">
                                                                <div class="image"><img src="{% static 'assets/images/course/category-4.png' %}" alt="Course images"></div>
                                                                <a href="course-filter-one-toggle.html">
                                                                    <span>University Status</span>
                                                                    <i class="feather-chevron-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- End Single Category  -->

                                                        <!-- Start Single Category  -->
                                                        <div class="nav-category-item">
                                                            <div class="thumbnail">
                                                                <a href="course-filter-one-toggle.html">
                                                                    <span>Course School</span>
                                                                    <i class="feather-chevron-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- End Single Category  -->

                                                        <!-- Start Single Category  -->
                                                        <div class="nav-category-item">
                                                            <div class="thumbnail">
                                                                <div class="image"><img src="{% static 'assets/images/course/category-9.png' %}" alt="Course images"></div>
                                                                <a href="course-filter-one-toggle.html">
                                                                    <span>Academy</span>
                                                                    <i class="feather-chevron-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- End Single Category  -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu  -->
                                </li>

                                <li class="with-megamenu has-menu-child-item position-static">
                                    <a href="08-language-academy.html#">Elements <i class="feather-chevron-down"></i></a>
                                    <!-- Start Mega Menu  -->
                                    <div class="rbt-megamenu grid-item-3">
                                        <div class="wrapper">
                                            <div class="row row--15 single-dropdown-menu-presentation">
                                                <div class="col-lg-4 col-xxl-4 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="style-guide.html">Style Guide <span class="rbt-badge-card">Hot</span></a></li>
                                                        <li><a href="accordion.html">Accordion</a></li>
                                                        <li><a href="advancetab.html">Advance Tab</a></li>
                                                        <li><a href="about.html">About <span class="rbt-badge-card">New</span></a></li>
                                                        <li><a href="brand.html">Brand</a></li>
                                                        <li><a href="button.html">Button</a></li>
                                                        <li><a href="badge.html">Badge</a></li>
                                                        <li><a href="card.html">Card</a></li>
                                                        <li><a href="08-language-academy.html#">& More Coming</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-4 col-xxl-4 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="call-to-action.html">Call To Action</a></li>
                                                        <li><a href="counterup.html">Counter</a></li>
                                                        <li><a href="category.html">Categories</a></li>
                                                        <li><a href="header.html">Header Style</a></li>
                                                        <li><a href="newsletter.html">Newsletter</a></li>
                                                        <li><a href="team.html">Team</a></li>
                                                        <li><a href="social.html">Social</a></li>
                                                        <li><a href="list-style.html">List Style</a></li>
                                                        <li><a href="08-language-academy.html#">& More Coming</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-4 col-xxl-4 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="gallery.html">Gallery</a></li>
                                                        <li><a href="pricing.html">Pricing</a></li>
                                                        <li><a href="progressbar.html">Progressbar</a></li>
                                                        <li><a href="testimonial.html">Testimonial</a></li>
                                                        <li><a href="service.html">Service</a></li>
                                                        <li><a href="split.html">Split Area</a></li>
                                                        <li><a href="search.html">Search Style</a></li>
                                                        <li><a href="instagram.html">Instagram Style</a></li>
                                                        <li><a href="08-language-academy.html#">& More Coming</a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="btn-wrapper">
                                                        <a class="rbt-btn btn-gradient hover-icon-reverse square btn-xl w-100 text-center mt--30 hover-transform-none" href="08-language-academy.html#">
                                                            <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Visit Histudy Template</span>
                                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu  -->
                                </li>

                                <li class="with-megamenu has-menu-child-item position-static">
                                    <a href="08-language-academy.html#">Blog <i class="feather-chevron-down"></i></a>
                                    <!-- Start Mega Menu  -->
                                    <div class="rbt-megamenu grid-item-3">
                                        <div class="wrapper">
                                            <div class="row row--15">
                                                <div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
                                                    <h3 class="rbt-short-title">Blog Styles</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="blog-list.html">Blog List</a></li>
                                                        <li><a href="blog.html">Blog Grid</a></li>
                                                        <li><a href="blog-grid-minimal.html">Blog Grid Minimal</a></li>
                                                        <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                                                        <li><a href="blog-details.html">Blog Details</a></li>
                                                        <li><a href="post-format-standard.html">Post Format Standard</a></li>
                                                        <li><a href="post-format-gallery.html">Post Format Gallery</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
                                                    <h3 class="rbt-short-title">Get Started</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="post-format-quote.html">Post Format Quote</a></li>
                                                        <li><a href="post-format-audio.html">Post Format Audio</a></li>
                                                        <li><a href="post-format-video.html">Post Format Video</a></li>
                                                        <li><a href="08-language-academy.html#">Media Under Title <span class="rbt-badge-card">Coming</span></a></li>
                                                        <li><a href="08-language-academy.html#">Sticky Sidebar <span class="rbt-badge-card">Coming</span></a></li>
                                                        <li><a href="08-language-academy.html#">Auto Masonry <span class="rbt-badge-card">Coming</span></a></li>
                                                        <li><a href="08-language-academy.html#">Meta Overlaid <span class="rbt-badge-card">Coming</span></a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
                                                    <div class="rbt-ads-wrapper">
                                                        <a class="d-block" href="08-language-academy.html#"><img src="assets/images/service/mobile-cat.jpg" alt="Education Images"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu  -->
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="header-right">
                        <div class="rbt-btn-wrapper d-none d-xl-block">
                            <a class="rbt-btn rbt-switch-btn btn-gradient btn-sm hover-transform-none" href="08-language-academy.html#">
                                <span data-text="Testar Habilidades">Testar Habilidades</span>
                            </a>
                        </div>

                        <!-- Start Mobile-Menu-Bar -->
                        <div class="mobile-menu-bar d-block d-xl-none">
                            <div class="hamberger">
                                <button class="hamberger-button rbt-round-btn">
                                    <i class="feather-menu"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Start Mobile-Menu-Bar -->
                    </div>

                </div>
            </div>
        </div>
    </header>
