{% load static %}
{% load i18n %}
{% load language_tags %}

<header class="rbt-header rbt-header-4 rbt-header-4-container-var">
    <div class="rbt-sticky-placeholder"></div>

    <!-- Start Header Top -->
    <div
        class="rbt-header-top rbt-header-top-1 header-space-betwween bg-color-white rbt-border-bottom d-none d-xl-block">
        <div class="container">
            <div class="rbt-header-sec align-items-center ">
                <div class="rbt-header-sec-col rbt-header-left">
                    <div class="rbt-header-content">
                        <div class="header-info">
                            <ul class="rbt-information-list">
                                <li>
                                    <a href="#"><i class="feather-phone"></i>+244 923 456 789</a>
                                </li>
                            </ul>
                        </div>
                        <div class="rbt-separator"></div>
                        <div class="header-info">
                            <ul class="social-share-transparent version-02">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="rbt-header-sec-col rbt-header-right">
                    <div class="rbt-header-content">
                        <div class="header-info">
                            <ul class="rbt-secondary-menu">
                                <li><a href="{% url 'sobre' %}">{% trans "Sobre Nós" %}</a></li>
                                <li><a href="">{% trans "Contato" %}</a></li>
                                <li><a href="#">{% trans "Privacidade" %}</a></li>
                            </ul>
                        </div>
                        <div class="rbt-separator"></div>

                        <!-- Language Switcher -->
                        <div class="header-info">
                            <ul class="rbt-dropdown-menu switcher-language">
                                <li class="has-child-menu">
                                    <a href="#">
                                        <img class="left-image"
                                            src="https://flagcdn.com/w20/{{ CURRENT_LANGUAGE|get_flag_code }}.png"
                                            alt="{% trans 'Idioma atual' %}">
                                        <span class="menu-item">
                                            {% for code, name in LANGUAGES %}
                                            {% if code == CURRENT_LANGUAGE %}{{ name }}{% endif %}
                                            {% endfor %}
                                        </span>
                                        <i class="right-icon feather-chevron-down"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        {% for code, name in LANGUAGES %}
                                        <li>
                                            <form action="{% url 'set_language' %}" method="post" class="language-form">
                                                {% csrf_token %}
                                                <input name="next" type="hidden" value="{{ request.path }}">
                                                <input name="language" type="hidden" value="{{ code }}">
                                                <button type="submit"
                                                    class="language-button {% if code == CURRENT_LANGUAGE %}active{% endif %}">
                                                    <img class="left-image"
                                                        src="https://flagcdn.com/w20/{{ code|get_flag_code }}.png"
                                                        alt="{{ name }}">
                                                    <span class="menu-item">{{ name }}</span>
                                                </button>
                                            </form>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        {% if not request.user.is_authenticated %}
                        <div class="rbt-separator"></div>
                        <div class="header-info">
                            <div class="header-right-btn d-flex">
                                <a class="rbt-btn rbt-switch-btn btn-gradient btn-xs" href="{% url 'Login_aluno' %}">
                                    <span data-text="{% trans 'Entrar' %}">{% trans "Entrar" %}</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <div class="rbt-header-wrapper header-space-betwween shadow-none bg-color-white header-sticky">
        <div class="container">
            <div class="mainbar-row rbt-navigation-start align-items-center">
                <div class="header-left">
                    <div class="logo logo-dark">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'assets/images/logo/Eduka-removebg-preview.png' %}"
                                alt="EdukaAngola Logo" style="width: 150px;">
                        </a>
                    </div>
                    <div class="logo d-none logo-light">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'assets/images/logo/Eduka-removebg-preview.png' %}"
                                alt="EdukaAngola Logo" style="width: 150px;">
                        </a>
                    </div>
                </div>

                <div class="rbt-main-navigation d-none d-xl-block">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li><a href="{% url 'index' %}">Home</a></li>

                            <li class="with-megamenu has-menu-child-item">
                                <a href="#">{% trans "Explorar" %} <i class="feather-chevron-down"></i></a>
                                <!-- Start Mega Menu  -->
                                <div class="rbt-megamenu grid-item-2">
                                    <div class="wrapper">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="mega-top-banner">
                                                    <div class="content">
                                                        <h4 class="title">{% trans "Portal EdukAngola" %}</h4>
                                                        <p class="description">{% trans "Cursos, bibliotecas e guias de estudo em um só lugar." %}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row--15">
                                            <div class="col-lg-12 col-xl-6 col-xxl-6 single-mega-item">
                                                <h3 class="rbt-short-title">{% trans "Ensino" %}</h3>
                                                <ul class="mega-menu-item">
                                                    <li><a href="{% url 'home_cursos' %}">{% trans "Todos os Cursos" %}</a></li>
                                                    <li><a href="{% url 'biblioteca' %}">{% trans "Biblioteca Digital" %}</a></li>
                                                    <li><a href="#">{% trans "Ensino Médio" %}</a></li>
                                                    <li><a href="#">{% trans "Ensino Superior" %}</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-12 col-xl-6 col-xxl-6 single-mega-item">
                                                <h3 class="rbt-short-title">{% trans "Carreira" %}</h3>
                                                <ul class="mega-menu-item">
                                                    <li><a href="#">{% trans "Estágios" %}</a></li>
                                                    <li><a href="#">{% trans "Formação Profissional" %}</a></li>
                                                    <li><a href="{% url 'blog:lista_posts' %}">{% trans "Notícias" %}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Mega Menu  -->
                            </li>

                            <li><a href="{% url 'blog:lista_posts' %}">Blog</a></li>
                            <li><a href="{% url 'sobre' %}">{% trans "Sobre" %}</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="header-right">
                    <ul class="quick-access">

                        <li class="access-icon" id="installAppContainer" style="display: none;">
                            <a class="rbt-round-btn" href="javascript:void(0);" id="installAppBtn"
                                title="{% trans 'Instalar App' %}">
                                <i class="feather-download"></i>
                            </a>
                        </li>

                        <li class="access-icon">
                            <a class="search-trigger-active rbt-round-btn" href="#">
                                <i class="feather-search"></i>
                            </a>
                        </li>

                        {% if request.user.is_authenticated %}
                        <li class="access-icon rbt-user-wrapper right-align-dropdown">
                            <a class="rbt-round-btn" href="#">
                                <i class="feather-user"></i>
                            </a>
                            <div class="rbt-user-menu-list-wrapper">
                                <div class="inner">
                                    <div class="rbt-admin-profile">
                                        <div class="admin-thumbnail">
                                            {% if request.user.aluno_profile.foto_de_perfil %}
                                            <img src="{{ request.user.aluno_profile.foto_de_perfil.url }}"
                                                alt="Profile">
                                            {% else %}
                                            <div class="initials-avatar">
                                                {{ request.user.username|slice:":2"|upper }}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="admin-info">
                                            <span class="name">{{
                                                request.user.get_full_name|default:request.user.username }}</span>
                                            <a class="rbt-btn-link color-primary" href="/perfil">{% trans "Ver Perfil" %}</a>
                                        </div>
                                    </div>
                                    <ul class="user-list-wrapper">
                                        {% if request.user.tipo_usuario == 'ALUNO' %}
                                        <li>
                                            <a href="{% url 'aluno' %}">
                                                <i class="feather-home"></i>
                                                <span>{% trans "Dashboard Aluno" %}</span>
                                            </a>
                                        </li>
                                        {% elif request.user.tipo_usuario == 'GESTOR' %}
                                        <li>
                                            <a href="{% url 'gestoreduka:analytics' %}">
                                                <i class="feather-home"></i>
                                                <span>{% trans "Painel Gestor" %}</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <a href="{% url 'Logout' %}">
                                                <i class="feather-log-out"></i>
                                                <span>{% trans "Sair" %}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% else %}
                        <li class="access-icon d-none d-xl-block">
                            <a class="rbt-btn btn-border-gradient radius-round btn-sm" href="{% url 'Login_aluno' %}">
                                <span>{% trans 'Entrar' %}</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>

                    <div class="mobile-menu-bar d-block d-xl-none">
                        <div class="hamberger">
                            <button class="hamberger-button rbt-round-btn">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Search Dropdown  -->
        <div class="rbt-search-dropdown">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="{% url 'buscar_cursos' %}" method="get">
                            <input type="text" name="q" placeholder="{% trans 'O que você está procurando?' %}">
                            <div class="submit-btn">
                                <button type="submit" class="rbt-btn btn-gradient btn-md">{% trans "Pesquisar" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="popup-mobile-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'assets/images/logo/Eduka-removebg-preview.png' %}" alt="Eduka Logo"
                            style="width: 120px;">
                    </a>
                </div>
                <div class="rbt-btn-close">
                    <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
            <p class="description">{% trans "EdukaAngola - Educação para todos." %}</p>
        </div>

        <nav class="mainmenu-nav">
            <ul class="mainmenu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'home_cursos' %}">{% trans "Cursos" %}</a></li>
                <li><a href="{% url 'biblioteca' %}">{% trans "Biblioteca" %}</a></li>
                <li><a href="{% url 'blog:lista_posts' %}">Blog</a></li>
                {% if request.user.is_authenticated %}
                {% if request.user.tipo_usuario == 'ALUNO' %}
                <li><a href="{% url 'aluno' %}">{% trans "Dashboard" %}</a></li>
                {% endif %}
                <li><a href="{% url 'Logout' %}">{% trans "Sair" %}</a></li>
                {% else %}
                <li><a href="{% url 'Login_aluno' %}">{% trans "Entrar" %}</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="mobile-menu-bottom">
            <div class="social-share-wrapper">
                <span class="rbt-short-title d-block">{% trans "Siga-nos" %}</span>
                <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    // PWA Install Logic
    let deferredPrompt;
    window.addEventListener('beforeinstallprompt', (e) => {
        e.preventDefault();
        deferredPrompt = e;
        const installBtn = document.getElementById('installAppContainer');
        if (installBtn) installBtn.style.display = 'block';
    });

    document.addEventListener('DOMContentLoaded', () => {
        const trigger = document.getElementById('installAppBtn');
        if (trigger) {
            trigger.addEventListener('click', () => {
                if (!deferredPrompt) return;
                deferredPrompt.prompt();
                deferredPrompt.userChoice.then((choiceResult) => {
                    deferredPrompt = null;
                });
            });
        }
    });
</script>

<style>
    /* Premium Header Enhancements */
    .switcher-language .sub-menu {
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 10px 0;
        min-width: 180px;
        z-index: 1000;
        display: none;
        border: 1px solid rgba(0, 0, 0, 0.05);
    }

    .has-child-menu:hover>.sub-menu {
        display: block;
        animation: slideUp 0.3s ease;
    }

    @keyframes slideUp {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .language-button {
        background: none;
        border: none;
        width: 100%;
        text-align: left;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        transition: all 0.2s;
        color: #666;
        font-size: 14px;
    }

    .language-button:hover,
    .language-button.active {
        background-color: rgba(var(--color-primary-rgb), 0.1);
        color: var(--color-primary);
    }

    .initials-avatar {
        width: 40px;
        height: 40px;
        background: var(--color-primary);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: bold;
        font-size: 14px;
    }
</style>

{% if post %}
<!-- SEO/Social Sharing -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ post.titulo }}">
<meta property="og:description" content="{{ post.resumo|default:post.conteudo|truncatewords:30 }}">
{% if post.imagem_capa %}
<meta property="og:image" content="{{ request.build_absolute_uri }}{{ post.imagem_capa.url }}">
{% endif %}
{% endif %}