annotated-types==0.7.0
asgiref==3.9.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
brotli==1.2.0
cbor2==5.9.0
certifi==2026.2.25
cffi==2.0.0
channels==4.2.0
charset-normalizer==3.4.7
constantly==23.10.4
crispy-bootstrap5==2026.3
cryptography==46.0.7
cssselect2==0.9.0
daphne==4.1.2
dj-database-url==3.1.2
Django==5.2.4
django-allauth==65.3.1
django-ckeditor==6.7.1
django-cors-headers==4.6.0
django-crispy-forms==2.6
django-jazzmin==3.0.1
django-js-asset==3.1.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
fonttools==4.62.1
google-ai-generativelanguage==0.6.15
google-api-core==2.30.3
google-api-python-client==2.195.0
google-auth==2.50.0
google-auth-httplib2==0.3.1
google-generativeai==0.8.6
googleapis-common-protos==1.74.0
grpcio==1.80.0
grpcio-status==1.71.2
gunicorn==23.0.0
httplib2==0.31.2
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
msgpack==1.1.2
packaging==25.0
pillow==11.3.0
proto-plus==1.27.2
protobuf==5.29.6
psycopg2-binary==2.9.10
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
pydyf==0.12.1
PyJWT==2.12.1
pyOpenSSL==26.0.0
pyparsing==3.3.2
pyphen==0.17.2
python-decouple==3.8
requests==2.33.1
service-identity==24.2.0
sqlparse==0.5.3
tinycss2==1.5.1
tinyhtml5==2.1.0
tqdm==4.67.3
Twisted==25.5.0
txaio==25.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
ujson==5.12.0
uritemplate==4.2.0
urllib3==2.6.3
weasyprint==68.1
webencodings==0.5.1
whitenoise==6.12.0
zope.interface==8.3
zopfli==0.4.1
cloudinary==1.44.2
django-cloudinary-storage==0.3.0
