[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "com.edukangola.app",
      "sha256_cert_fingerprints": [
        "SUBSTITUIR_PELA_IMPRESSAO_SHA256_DO_CERTIFICADO_DE_ASSINATURA_DA_PLAY"
      ]
    }
  }
]
