{% load static %}
{% load i18n %}

{% if aluno_logado and videos_recomendados %}
<section class="play-section" style="margin-top: 20px; margin-bottom: 30px;">
    <div class="container">
        <!-- Envoltório do grande cartão branco/claro -->
    <div class="bg-color-white rbt-shadow-box" style="padding: 40px; border-radius: 12px;">
        <div class="row g-5 align-items-center">
            
            <!-- Coluna da Esquerda (Texto e Botões) -->
            <div class="col-lg-3 col-md-12">
                <div class="section-title text-start">
                    <h2 class="play-section-title mb-0 title" style="padding-left: 0; display: flex; align-items: center; gap: 10px;  font-size: 24px; font-weight: 700;">
                        <span>{% trans "Recomendado para Si" %}</span>
                        <i class="feather-target" style="font-size: 18px; color: var(--play-primary);"></i>
                    </h2>
                    <p class="description mt--20" style="font-size: 15px; color: #64748b;">
                        {% trans "Com base no seu perfil e interesses, selecionámos estas formações em vídeo para impulsionar a sua carreira." %}
                    </p>
                </div>
                
                <div class="d-flex justify-content-start gap-3 rbt-arrow-between mt--30">
                    <div class="rbt-swiper-arrow style_2 play-custom-prev">
                        <div class="custom-overfolow">
                            <i class="rbt-icon feather-arrow-left"></i>
                            <i class="rbt-icon-top feather-arrow-left"></i>
                        </div>
                    </div>
                    <div class="rbt-swiper-arrow style_2 play-custom-next">
                        <div class="custom-overfolow">
                            <i class="rbt-icon feather-arrow-right"></i>
                            <i class="rbt-icon-top feather-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Coluna da Direita (Carrossel de Cursos) -->
            <div class="col-lg-9 col-md-12">
                <div class="swiper playSwiper-recomendados">
                    <div class="swiper-wrapper">
                        {% for video in videos_recomendados %}
                        <div class="swiper-slide p-2" style="width: 320px;">
                            {% include 'components/curso_card.html' with curso=video %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
</section>

<!-- Fim de Recomendados -->
{% endif %}
