{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Conta aluno</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'include/css.html' %}

</head>

<body>
    <div id="my_switcher" class="my_switcher">
        <ul>
            <li>
                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                    <img src="{% static 'assets/images/about/sun-01.svg' %}" alt="Sun images"><span title="Light Mode"> Light</span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                    <img src="{% static 'assets/images/about/vector.svg' %}" alt="Vector Images"><span title="Dark Mode"> Dark</span>
                </a>
            </li>
        </ul>
    </div>

    {% include 'include/header.html' %}
    <div class="rbt-cart-side-menu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content">
                    <div class="title">
                        <h4 class="title mb--0">Your shopping cart</h4>
                    </div>
                    <div class="rbt-btn-close" id="btn_sideNavClose">
                        <button class="minicart-close-button rbt-round-btn"><i class="feather-x"></i></button>
                    </div>
                </div>
            </div>
            <nav class="side-nav w-100">
                <ul class="rbt-minicart-wrapper">
                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="student-dashboard.html#">
                                <img src="assets/images/product/1.jpg" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">Miracle Morning</a></h6>

                            <span class="quantity">1 * <span class="price">$22</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn"><i class="feather-x"></i></button>
                        </div>
                    </li>

                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="student-dashboard.html#">
                                <img src="assets/images/product/7.jpg" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">Happy Strong</a></h6>

                            <span class="quantity">1 * <span class="price">$30</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn"><i class="feather-x"></i></button>
                        </div>
                    </li>

                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="student-dashboard.html#">
                                <img src="assets/images/product/3.jpg" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">Rich Dad Poor Dad</a></h6>

                            <span class="quantity">1 * <span class="price">$50</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn"><i class="feather-x"></i></button>
                        </div>
                    </li>

                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="student-dashboard.html#">
                                <img src="assets/images/product/4.jpg" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">Momentum Theorem</a></h6>

                            <span class="quantity">1 * <span class="price">$50</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn"><i class="feather-x"></i></button>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="rbt-minicart-footer">
                <hr class="mb--0">
                <div class="rbt-cart-subttotal">
                    <p class="subtotal"><strong>Subtotal:</strong></p>
                    <p class="price">kz 121</p>
                </div>
                <hr class="mb--0">
                <div class="rbt-minicart-bottom mt--20">
                    <div class="view-cart-btn">
                        <a class="rbt-btn btn-border icon-hover w-100 text-center" href="student-dashboard.html#">
                            <span class="btn-text">View Cart</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </a>
                    </div>
                    <div class="checkout-btn mt--20">
                        <a class="rbt-btn btn-gradient icon-hover w-100 text-center" href="student-dashboard.html#">
                            <span class="btn-text">Checkout</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Side Vav -->
    <a class="close_side_menu" href="javascript:void(0);"></a>
    <div class="rbt-page-banner-wrapper">
        <!-- Start Banner BG Image  -->
        <div class="rbt-banner-image"></div>
        <!-- End Banner BG Image  -->
    </div>
    <div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Start Dashboard Top  -->
                    <div class="rbt-dashboard-content-wrapper">
                        <div class="tutor-bg-photo height-350">
                            {% if perfil.imagem %}
                                <img src="{{ perfil.imagem.url }}" alt="Foto de {{ aluno_nome }}" 
                                    style="width:100%; height:100%; object-fit: cover;">
                            {% else %}
                                <img src="{% static 'assets/images/team/avatar-2.jpg' %}" alt="Foto padrão"
                                    style="width:100%; height:100%; object-fit: cover;">
                            {% endif %}
                        </div>
                        <!-- Início da Informação do Tutor -->
                        <div class="rbt-tutor-information">
                            <div class="rbt-tutor-information-left">
                                <div class="thumbnail rbt-avatars size-lg">
                                {% if perfil.imagem %}
                                    <img src="{{ perfil.foto_de_perfil.url }}" alt="Foto de {{ aluno_nome }}">
                                {% else %}
                                    <img src="{% static 'assets/images/team/avatar-2.jpg' %}" alt="Foto padrão">
                                {% endif %}
                            </div>
                                <div class="tutor-content">
                                    <h5 style="color: black;" class="title">{{aluno_nome}}</h5>
                                    <ul class="rbt-meta rbt-meta-white mt--5">
                                        <li style="color: black;"><i style="color: black;" class="feather-book"></i>5 Cursos Inscritos</li>
                                        <li style="color: black;"><i style="color: black;" class="feather-award"></i>4 Certificados</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rbt-tutor-information-right">
                                <div class="tutor-btn">
                                    <a class="rbt-btn btn-md hover-icon-reverse" href="student-dashboard.html#">
                                        <span class="icon-reverse-wrapper">
                                            <span style="color: black;" class="btn-text">Torne-se Instrutor</span>
                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Fim da Informação do Tutor -->
                    </div>
                    <!-- End Dashboard Top  -->

                    <div class="row g-5">
                        <div class="col-lg-3">
                            <!-- Start Dashboard Sidebar  -->
                            <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                                <div class="inner">
                                    <div class="content-item-content">

                                        <div class="rbt-default-sidebar-wrapper">
                                            <div class="section-title mb--20">
                                                <h6 style="color: black;" class="rbt-title-style-2">Bem vindo, {{aluno_nome}}</h6>
                                            </div>
                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="student-dashboard.html"><i class="feather-home"></i><span>Painel</span></a></li>
                                                    <li><a href="student-profile.html"><i class="feather-user"></i><span>Meu Perfil</span></a></li>
                                                    <li><a href="student-enrolled-courses.html"><i class="feather-book-open"></i><span>Cursos Inscritos</span></a></li>
                                                    <li><a href="student-wishlist.html"><i class="feather-bookmark"></i><span>Favoritos</span></a></li>
                                                    <li><a href="student-reviews.html"><i class="feather-star"></i><span>Avaliações</span></a></li>
                                                    <li><a href="student-my-quiz-attempts.html"><i class="feather-help-circle"></i><span>Meus Testes</span></a></li>
                                                    <li><a href="student-order-history.html"><i class="feather-shopping-bag"></i><span>Histórico de Compras</span></a></li>
                                                </ul>
                                            </nav>

                                            <div class="section-title mt--40 mb--20">
                                            <h6 class="rbt-title-style-2">Usuário</h6>
                                        </div>

                                        <nav class="mainmenu-nav">
                                            <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                <li><a href="student-settings.html"><i class="feather-settings"></i><span>Configurações</span></a></li>
                                                <li><a href="{% url 'Logout' %}"><i class="feather-log-out"></i><span>Sair</span></a></li>
                                            </ul>
                                        </nav>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- End Dashboard Sidebar  -->
                        </div>

                        <div class="col-lg-9">
                        <div class="rbt-dashboard-content bg-color-white rbt-shadow-box mb--60">
                            <div class="content">
                                <div class="section-title">
                                    <h4 class="rbt-title-style-3">Painel</h4>
                                </div>
                                <div class="row g-5">

                                    <!-- Início Cartão Único -->
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                        <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-primary-opacity">
                                            <div class="inner">
                                                <div class="rbt-round-icon bg-primary-opacity">
                                                    <i class="feather-book-open"></i>
                                                </div>
                                                <div class="content">
                                                    <h3 class="counter without-icon color-primary"><span class="odometer" data-count="30">00</span>
                                                    </h3>
                                                    <span class="rbt-title-style-2 d-block">Cursos Inscritos</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fim Cartão Único -->

                                    <!-- Início Cartão Único -->
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                        <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-secondary-opacity">
                                            <div class="inner">
                                                <div class="rbt-round-icon bg-secondary-opacity">
                                                    <i class="feather-monitor"></i>
                                                </div>
                                                <div class="content">
                                                    <h3 class="counter without-icon color-secondary"><span class="odometer" data-count="10">00</span>
                                                    </h3>
                                                    <span class="rbt-title-style-2 d-block">CURSOS ATIVOS</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fim Cartão Único -->

                                    <!-- Início Cartão Único -->
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                        <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-violet-opacity">
                                            <div class="inner">
                                                <div class="rbt-round-icon bg-violet-opacity">
                                                    <i class="feather-award"></i>
                                                </div>
                                                <div class="content">
                                                    <h3 class="counter without-icon color-violet"><span class="odometer" data-count="7">00</span>
                                                    </h3>
                                                    <span class="rbt-title-style-2 d-block">Cursos Concluídos</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fim Cartão Único -->

                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Card Style -->
    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>
    
    {% include 'include/footer.html' %}
    {% include 'include/java.html' %}
</body>

</html>