{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edukangola | Painel do Aluno </title>
    <meta name="robots" content="noindex, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'include/css.html' %}
</head>

<body class="rbt-header-sticky">
    {% include 'include/header.html' %}

    <div class="rbt-page-banner-wrapper">
        <div class="rbt-banner-image"></div>
    </div>

    <!-- Start Dashboard Area -->
    <div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% include 'include/header_aluno.html' %}

                    <div class="row g-5">
                        <div class="col-lg-3">
                            {% include 'include/sidebar_aluno.html' %}
                        </div>

                        <div class="col-lg-9">
                            {% if tab == 'perfil' or not tab %}
                                {% include 'tabs/perfil.html' %}
                            {% elif tab == 'perfil' %}
                                {% include 'tabs/perfil.html' %}
                            {% elif tab == 'cursos' %}
                                {% include 'tabs/cursos.html' %}
                            {% elif tab == 'favoritos' %}
                                {% include 'tabs/favoritos.html' %}
                            {% elif tab == 'depoimento' %}
                                {% include 'tabs/depoimento.html' %}
                            {% elif tab == 'configuracoes' %}
                                {% include 'tabs/settings.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Dashboard Area -->

    {% include 'include/footer.html' %}
    {% include 'include/java.html' %}

    <!-- Odometer JS for counters -->
    <script src="{% static 'assets/js/vendor/odometer.js' %}"></script>
    <script src="{% static 'assets/js/vendor/appear.js' %}"></script>
</body>

</html>