{% load static %}
<link rel="icon" type="image/png" href="assets1/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="{% static 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&amp;family=SUSE:wght@100..800&amp;display=swap' %}"
        rel="stylesheet">
    <style>
        :root {
            --adminuiux-content-font: "Open Sans", sans-serif;
            --adminuiux-content-font-weight: 400;
            --adminuiux-title-font: "SUSE", sans-serif;
            --adminuiux-title-font-weight: 600
        }
    </style>
    <script defer="defer" src="{% static 'assets1/js/appd9fa.js?6b22e6ee1626676f5950' %}"></script>
    <link href="{% static 'assets1/css/appd9fa.css?6b22e6ee1626676f5950' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'assets1/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/appd9fa.css' %}">
