<footer class="adminuiux-footer has-adminuiux-sidebar mt-auto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md col-lg py-2"><span class="small">Copyright @2024, Criativamente projetado por
                        <a href="https://adminuiux.com/" target="_blank">Startup - MuquissiTech</a> na Terra ❤️</span>
                </div>
                <div class="col-12 col-md-auto col-lg-auto align-self-center">
                    <ul class="nav small">
                        <li class="nav-item"><a class="nav-link" href="learning-help-center.html">Ajuda</a></li>
                        <li class="nav-item">|</li>
                        <li class="nav-item"><a class="nav-link" href="learning-terms-of-use.html">Termos de Uso</a>
                        </li>
                        <li class="nav-item">|</li>
                        <li class="nav-item"><a class="nav-link" href="learning-privacy-policy.html">Política de
                                Privacidade</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>